.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background: linear-gradient(135deg, #e0f7fa, #a5d6a7);
  /* border: 5px solid #388e3c; */
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #388e3c;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.home-container .button-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.home-container button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #388e3c;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-container button:hover {
  background-color: #66bb6a;
  transform: translateY(-3px);
}

.home-container button:active {
  transform: translateY(0);
}

.home-container button:nth-child(3) {
  background-color: #00796b;
}

.home-container button:nth-child(3):hover {
  background-color: #004d40;
}

/* רספונסיביות */
@media (max-width: 768px) {
  .home-container h1 {
    font-size: 2rem;
  }

  .home-container button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .home-container h1 {
    font-size: 1.5rem;
  }

  .home-container button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
}